@{
    ViewBag.Title = "Home Page";
}







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="~/Content/pages.css">
</head>
<body>
    <div class="index-background-container">
        <div class="index-row">
            <!-- First section -->
            <div class="index-col-md-6">
                <div class="index-jumbotron">
                    <h2>Levellivings - Your Simplified <br /> Real Estate Solution</h2>
                    <p class="index-lead">
                        Experience exceptional service at Levellivings. Whether buying, selling, renting, or investing, our dedicated team is here to guide you. Find your dream property with us today!
                    </p>
                    <p><a href="https://asp.net" class="index-btn btn-primary btn-lg">Contact Us</a></p>
                </div>
            </div>
            <!-- Second section -->
            <div class="index-col-md-6 index-d-flex index-align-items-center index-justify-content-center">
                <img src="~/images/home-image.png" alt="Image Description" class="index-img-responsive">
            </div>
        </div>
    </div>
</body>
</html>




