@{
    ViewBag.Title = "Privacy Policy";
}




<div class="background-container" style="background-color: #eee; margin-top: 55px;">
    <div class="row">
        <!-- First section -->
        <div class="col-md-6">
            <div class="jumbotron" style="height: 100%;">
                <h2>Levellivings - Your Simplified <br /> Real Estate Solution</h2>
                <p class="lead">
                    Experience exceptional service at Levellivings. Whether buying, selling, renting, or investing, our dedicated team is here to guide you. Find your dream property with us today!
                </p>
                <p><a href="https://asp.net" class="btn btn-primary btn-lg">Contact Us</a></p>
            </div>
        </div>
        <!-- Second section -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="~/images/home-image.png" alt="Image Description" class="img-responsive" style="max-height: 100%; margin-top: 85px;">
        </div>
    </div>
</div>



